<div class="container">


  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">


        <div class="card-body p-0">


          <div class="row">


            <mat-progress-bar mode="query" color="warn" *ngIf="carregamentoPagina"></mat-progress-bar>

            <div class="col-lg-6 d-none d-lg-block bg-login">
              <img id="img" src="../../assets/img/icons8-pizza-96.ico" style="margin-left: 50%; margin-top: 30%">
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Olá, bem vindo de volta :)</h1>
                </div>
                <form [formGroup]="formularioLogin" (ngSubmit)="autenticar()" class="user">
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user" id="email" aria-describedby="emailHelp"
                      placeholder=" Endereço de e-mail..." formControlName="email">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="senha" placeholder="Senha..."
                      formControlName="senha">
                  </div>

                  <div style="margin-bottom: 25px;" class="form-group">
                    <p style="color: red">{{erroLogin}}</p>
                  </div>

                  <button type="submit" class="btn btn btn-user btn-block"
                    style="background-color: orange; color: white; font-size: large;"
                    [disabled]="!formularioLogin.valid">
                    Login
                  </button>
                  <hr>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>