/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input.ng-touched.ng-invalid{
    color: 1px solid red
}
select.ng-touched.ng-invalid{
    color: 1px solid red
}
input.ng-touched.ng-valid{
    color: 1px solid orange
}
select.ng-touched.ng-valid{
    color: 1px solid orange
}

	

